{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 4 versions and not dead",
            "not IE 11"
          ],
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}
